@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #fafafa;
}
#root {
  font-family: 'Rubik', Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  padding: 64px 16px 120px;

  & > div {
    margin: 0 auto;
    max-width: 1000px;
  }
}

h1 {
  margin: 8px 0 0;
  text-transform: capitalize;

  display: flex;
  align-items: center;
  gap: 8px;
}

.chip {
  display: inline-block;
  padding: 4px 10px;
  color: white;
  background-color: #007aff;
  border-radius: 50vh;
  font-size: 14px;
  font-weight: 500;

  &.orange {
    background-color: #ff590a;
  }
}
